attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
contourpy 
cycler 
filelock 
fonttools 
fsspec 
gmpy2 
gym==0.26.2
gym-notices==0.0.8
idna==3.10
Jinja2 
joblib 
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver 
MarkupSafe 
matplotlib==3.10.1
mpmath 
msgpack==1.1.0
munkres==1.1.4
networkx 
numpy 
optree 
packaging 
pandas 
pillow 
protobuf==6.31.0
pybind11 
pybind11_global 
pyparsing 
python-dateutil 
pytz 
PyYAML==6.0.2
ray==2.46.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scikit-learn 
scipy 
six 
sympy 
threadpoolctl 
torch 
torchaudio 
torchvision 
torchvision-extra-decoders 
tornado 
typing_extensions 
tzdata 
unicodedata2 
urllib3==2.4.0
scikit-learn

